{% extends '::base.html.twig' %}

{% block title 'Symfony Guestbook' %}
{% block body %}
	<div
	 style="
	 		font-family: Helvetica, sans-serif;
           	float: left; 
           	background: #515151;
           	height: wrap_content;
           	width: 100%;
          	margin-left: auto;
          	margin-right: auto;
          	margin-bottom:0px;
          	color: #FFE5EA;
          	text-align: center;
          	border-radius: 10px;
          	overflow: auto;
           	">
			<h2>Guestbook</h2>
    
			{% block create_button %}
			{% endblock %}
			</div>
			{% block edit_post_form %}
			{% endblock %}
     	   	{% block new_post_form %}
     	   	{% endblock %}	
			{% block post_list %}
			{% endblock %}
{% endblock %}